@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    <p>Please not that an error has beed sent to the system administrator , please check you inbox for more info</p>
    <p></p>
</div>

