<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net45" />
  <package id="Techhill.Framework" version="1.0.6786.31021" targetFramework="net45" />
  <package id="Techhill.Framework.BusinessProcess" version="1.1.6786.19322" targetFramework="net45" />
  <package id="Techhill.Framework.DataContext" version="1.0.6785.15178" targetFramework="net45" />
  <package id="Techhill.Framework.DomainTypes" version="1.1.6866.9798" targetFramework="net45" />
</packages>