<!DOCTYPE html>

<!--
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../">
    <meta charset="utf-8" />
    <title>Portal</title>
    <meta name="description" content="Bootstrap collapse examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">

    <!-- begin::Page loader -->
    <!-- end::Page Loader -->
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__logo">
            <a href="index.html">
                <img alt="Logo" src="assets/media/logos/logo-5.png" />
            </a>
        </div>
        <div class="kt-header-mobile__toolbar">
            <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
        </div>
    </div>


    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">

        <!-- begin:: Subheader -->
        <div class="kt-subheader   kt-grid__item" id="kt_subheader">
            <div class="kt-container ">              
            </div>
        </div>

        <!-- end:: Subheader -->
        <!-- begin:: Content -->
        <div class="kt-container  kt-grid__item kt-grid__item--fluid">

            <div class="row">

                <div class="col-lg-4 col-xl-12 order-lg-1 order-xl-1">

                    <!--begin::Portlet-->
                    <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                        <div class="kt-portlet__body kt-portlet__body--fluid">
                            <div class="kt-widget-3 kt-widget-3--brand">
                                <div class="kt-widget-3__content">
                                    <div class="kt-widget-3__content-info">
                                        <div class="kt-widget-3__content-section">
                                            <div class="kt-widget-3__content-title">Trade and Investment</div>
                                            <div class="kt-widget-3__content-desc">Subsciption, Assessment and Facilitation Request</div>
                                        </div>
                                        <div class="kt-widget-3__content-section">
                                            <span class="kt-widget-3__content-bedge"></span>
                                            <span class="kt-widget-3__content-number"><span></span></span>
                                        </div>
                                    </div>
                                    <div class="kt-widget-3__content-stats">
                                        <div class="kt-widget-3__content-progress">
                                            <div class="progress">

                                                <!-- Doc: A bootstrap progress bar can be used to show a user how far along it's in a process, see https://getbootstrap.com/docs/4.1/components/progress/ -->
                                                <div class="progress-bar bg-light" style="width: 100%;" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="kt-widget-3__content-action">
                                            <div class="kt-widget-3__content-text"></div>
                                            <div class="kt-widget-3__content-value"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--end::Portlet-->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">

                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Trade and Investment
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">

                                            Welcome to the City of Johannesburg, South Africa’s most vibrant and dynamic city.
                                            </br></br>
                                            Our City, known to locals as Joburg, is the financial and economic hub of sub-Saharan Africa, and remains an attractive destination for investment, tourism, and business.
                                            </br></br>
                                            Joburg is a strategic investment destination, offering the best access to markets across Africa, an investor-friendly environment, a stable democracy, leading Information Communication Technology (ICT) infrastructure, and well-development transport network which enable the easy movement of goods and services.
                                            </br></br>
                                            The Department of Economic Development, through the Trade and Investment unit, is leading the Investment and Trade Promotion functions in the City. This unit is leading the activities aimed at attracting new and retention of existing investments and promote Trade in the City of Johannesburg. The main functions of the unit are the following:
                                            </br></br>
                                            - To build a positive image of the City of Joburg</br>
                                            - To promote investment opportunities locally and abroad</br>
                                            - To ensure business retention within City of Johannesburg (COJ)</br>
                                            - To provide an efficient investor facilitation and aftercare service</br></br>

                                            One of the Economic Growth Strategy (EGS) pillars stipulate that Investment Attraction, Expansion and Retention as well as Environmental and Resource Sustainability are priorities that will drive the re-establishment of the City of Johannesburg as the leading African destination for regional corporate head offices, foreign direct investment and local investment. The EGS elaborates that both foreign direct investment and investment by local firms is needed, and that appropriate interventions are required to facilitate and promote inwards investment. Thus the development of this Investment Incentives Policy.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">

                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <img src="~/Newassets/media/blog/JHB.jpg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">

                    <!--begin::Portlet-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <div class="card-title" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            How to Register?
                                        </div>
                                    </div>
                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            For inward investment into the City, the DED’s Trade & Investment Promotion Directorate serves to connect your expanding business to our dynamic City. We’ve got the sector knowledge, the business information and the connections you need. The unit ensures you can get going quickly and easily to benefit as soon as possible from investing in Joburg, whether you’re a business start-up, a logistics hub or utilising our City as a base for your African headquarters, as a springboard into the rest of the continent.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Forgot Portal Password?
                                        </div>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            The City of Johannesburg Trade promotion is mandated to facilitate and promote exports within the City of Joburg, through the implementation of Exporter Development Programmes and the facilitation of International Trade. The City offers various services in supporting smme’s to become export ready and eventually become reliable global exporters. This is key towards the enhancement of the City’s global competitiveness, boost export oriented growth, and contribute to the City’s overall economic growth.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I perform facilitation request?
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">

                                            Welcome to the City of Johannesburg, South Africa’s most vibrant and dynamic city.</br></br>

                                            Our City, known to locals as Joburg, is the financial and economic hub of sub-Saharan Africa, and remains an attractive destination for investment, tourism, and business.</br></br>

                                            Joburg is a strategic investment destination, offering the best access to markets across Africa, an investor-friendly environment, a stable democracy, leading Information Communication Technology (ICT) infrastructure, and well-development transport network which enable the easy movement of goods and services.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I register and substribe for Trade?
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">

                                            Welcome to the City of Johannesburg, South Africa’s most vibrant and dynamic city.</br></br>

                                            Our City, known to locals as Joburg, is the financial and economic hub of sub-Saharan Africa, and remains an attractive destination for investment, tourism, and business.</br></br>

                                            Joburg is a strategic investment destination, offering the best access to markets across Africa, an investor-friendly environment, a stable democracy, leading Information Communication Technology (ICT) infrastructure, and well-development transport network which enable the easy movement of goods and services.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            How do I participate on the Assessment registration?
                                        </div>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">

                                            Welcome to the City of Johannesburg, South Africa’s most vibrant and dynamic city.</br></br>

                                            Our City, known to locals as Joburg, is the financial and economic hub of sub-Saharan Africa, and remains an attractive destination for investment, tourism, and business.</br></br>

                                            Joburg is a strategic investment destination, offering the best access to markets across Africa, an investor-friendly environment, a stable democracy, leading Information Communication Technology (ICT) infrastructure, and well-development transport network which enable the easy movement of goods and services.
                                        </div>
                                    </div>
                                </div>

                                <div class="kt-portlet__body">
                                    <img src="~/Newassets/media/blog/JHB.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Portlet-->
                </div>
            </div>
        </div>

    </div>


    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#4d5cf2",
                    "metal": "#c4c5d6",
                    "light": "#ffffff",
                    "accent": "#00c5dc",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995",
                    "focus": "#9816f4"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="assets/js/scripts.bundle.js" type="text/javascript"></script>

    <!--end::Global Theme Bundle -->
</body>

<!-- end::Body -->
</html>